---
layout: page
permalink: /categories/
title: Index by Object Type
---

<div id="archives">
    {% assign categories = site.categories | sort %}
    {% for category in categories  %}
    <div class="archive-group">
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <div id="#{{ category_name | slugize }}"></div>
        <p></p>

        {% assign objtype = category_name | capitalize %}
        {% if objtype == 'Globular' %} {% assign objtype = 'Globular Cluster' %}   {% endif %}
        {% if objtype == 'Open' %} {% assign objtype = 'Open Cluster' %}   {% endif %}
        {% if objtype == 'Planetary' %} {% assign objtype = 'Planetary Nebula' %}   {% endif %}
        <h3 class="category-head">{{ objtype  }}</h3>
        <a name="{{ objtype | slugize }}"></a>
        {% for post in site.categories[category_name] %}
        <article class="archive-item">
            &emsp; <a href="{{ site.baseurl }}{{ post.url }}">{{post.date | date: "%b %d, %Y"}} -- {{post.title}}</a>
        </article>
        {% endfor %}
    </div>
    {% endfor %}
</div>

